.CFUserTextEncoding
.Trash/
.Xauthority
.adobe/
.android/
.bash_history
.config/
.cpan/
.cups/
.dropbox/
.fontconfig/
.gitconfig
.keychain/
.lesshst
.macports/
.mozes.zsh_history
.mozes.zsh_history.MqbblI
.mplayer/
.rnd
.root.zsh_history
.sleep
.smb/
.spumux/
.sqlite_history
.ssh/
.subversion/
.swp
.vidalia/
.wireshark-etc/
.wireshark/
.zcompdump
.zsdx/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
scripts
